$accent-color: #c41d54;
$primary-color: #fff !default;
$secondary-color: #173360 !default;
$body_bg: #091F43 !default;
$text-color: #FFF !default;
$border-color: #455C80 !default;
$btn-hover-color: $text-color !default;

@import '_base.scss';