$accent-color: #F0738A;
$primary-color: #fff !default;
$secondary-color: #5A1F11 !default;
$body_bg: #431409 !default;
$text-color: #FFF !default;
$border-color: #69433A !default;
$btn-hover-color: $text-color !default;

@import '_base.scss';