$accent-color: #4ABBC7;
$primary-color: #fff !default;
$secondary-color: #173360 !default;
$body_bg: #091F43 !default;
$text-color: #FFF !default;
$border-color: #3A4C69 !default;
$btn-hover-color: $text-color !default;

@import '_base.scss';